<div class="card">
  <div class="card-header">
    Listado de Materias
  </div>
  <div class="card-body">

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="check = !check">
      <label class="form-check-label" for="exampleCheck1">Buscar por Carrera e ID</label>
    </div>

    <ng-template [ngIf]="!check" [ngIfElse]="carreraMateria">
      <form>
        <div class="row">
          <div class="col">
            <label for="carrera">Ingrese la Carrera o Área</label>
            <input id="carrera" name="programa" [(ngModel)]="programa" type="text" class="form-control"
              placeholder="Carrera/Área" #carrera required>
          </div>
        </div>
        <button class="btn btn-primary" (click)="verMateria(carrera.value, undefined)">Buscar</button>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="fallo">
        <p>Verifica los datos, ingresa una Materia valida</p>
      </div>
    </ng-template>

    <ng-template #carreraMateria>
      <form>
        <div class="row">
          <div class="col">
            <input type="text" name="programa" [(ngModel)]="programa" class="form-control" placeholder="Carrera/Área"
              #carrera required>
          </div>
          <div class="col">
            <input type="text" name="materiaID" [(ngModel)]="materiaID" class="form-control upper" placeholder="Materia"
              #materia required>
          </div>
        </div>
        <button class="btn btn-primary" (click)="verMateria(carrera.value, materia.value)">Buscar</button>
      </form>
      <div class="alert alert-danger" role="alert" *ngIf="fallo">
        <p>Verifica los datos, ingresa una Carrera o Materia valida</p>
      </div>
    </ng-template>

  </div>
</div>

<br>

<div class="card-deck" *ngIf="obtener">
  <div class="col-sm-3" *ngFor="let materia of materias">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{materia.ID}}</h5>
        <p>{{materia.nombre}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Créditos: {{materia.creditos}}</small>
      </div>
    </div>
  </div>
</div>

<div class="card-deck" *ngIf="obtenerMaterias">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{materia[0]}}</h5>
        <p class="card-text">
          {{materia[2]}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Créditos: {{materia[1]}}</small>
      </div>
    </div>
  </div>
</div>