<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <ng-container *ngIf="isLogin; else elseTemplate">
    <a class="navbar-brand" [routerLink]="['/menu']">
      <img src="../../../assets/img/LogoVertical.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Modulo Horario Docente
    </a>
  </ng-container>
  <ng-template #elseTemplate>
    <a class="navbar-brand" [routerLink]="['']">
      <img src="../../../assets/img/LogoVertical.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Modulo Horario Docente
    </a>
  </ng-template>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">

      <li class="nav-item" *ngIf="isLogin">
        <p class="nav-link">
          <a [routerLink]="['/horario']" class="perfil">Ver Horario</a>
        </p>
      </li>

      <li class="nav-item" *ngIf="isLogin">
        <p class="nav-link">
          <a [routerLink]="['/materias']" class="perfil">Ver Materias</a>
        </p>
      </li>

      <li class="nav-item" *ngIf="isLogin">
        <p class="nav-link">
          <a [routerLink]="['/materia']" class="perfil">Agregar Materias</a>
        </p>
      </li>

      <li class="nav-item active" *ngIf="isLogin">
        <p class="nav-link">
          <a [routerLink]="['/perfil']" class="perfil"><b>{{nombre}}</b></a>
        </p>
      </li>

      <li class="nav-item active" *ngIf="isLogin">
        <a class="nav-link" (click)="onSignOut()">Salir</a>
      </li>

    </ul>
  </div>
</nav>