<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- ? Icono -->
    <div class="fadeIn first">
      <h1>Actualizar Perfil</h1>
    </div>

    <div class="fadeIn first">
      <h2>{{mostrarNombre}}</h2>
    </div>

    <!-- ? Ingresar -->
    <form (submit)="actualizarPerfil()">
      <input type="text" id="ID" class="fadeIn second" name="ID" placeholder="ID"
        [(ngModel)]="ID" disabled>
        
      <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre"
        [(ngModel)]="nombre">

      <input type="text" id="apellido" class="fadeIn second" name="apellido" placeholder="Apellido"
        [(ngModel)]="apellido">

      <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail"
        [(ngModel)]="email" disabled>

      <input type="submit" class="fadeIn fourth btn-danger" value="Actualizar">      
    </form>

  </div>
</div>

<ng-container *ngIf="exito">
  <div class="alert alert-success" role="alert">
    Datos actualizados exitosamente
  </div>
</ng-container>

<ng-container *ngIf="error">
  <div class="alert alert-danger" role="alert">
    Ha ocurrido un error, intentalo más tarde
  </div>
</ng-container>