<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- ? Icono -->
    <div class="fadeIn first">
      <h1>Actualizar Perfil Docente</h1>
    </div>

    <!-- ? Ingresar -->
    <form (submit)="actualizarPerfil()">
      <input type="text" id="ID" class="fadeIn second" name="ID" placeholder="ID"
        [(ngModel)]="ID" disabled>
        
      <input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre"
        [(ngModel)]="nombre">

      <input type="text" id="apellido" class="fadeIn second" name="apellido" placeholder="Apellido"
        [(ngModel)]="apellido">

      <input type="text" id="email" class="fadeIn second" name="email" placeholder="E-mail"
        [(ngModel)]="email" disabled>

      <input type="submit" class="fadeIn fourth" value="Actualizar">      
    </form>

  </div>
</div>