<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- ? Icono -->
    <div class="fadeIn first">
      <img src="./assets/img/LogoVertical.jpg" width="200px" height="200px" id="icon"
        alt="Universidad Piloto de Colombia" />
    </div>

    <!-- ? Ingresar -->
    <form (submit)="onSubmitLogin()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail" [(ngModel)]="email"
        required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña"
        [(ngModel)]="password">
      <input type="submit" class="fadeIn fourth bg-dark" value="Ingresar" required>
    </form>

    <div *ngIf="valido">
      <p style="color: red">Autenticación fallida. Intentalo de nuevo</p>
    </div>

  </div>
</div>