<div class="jumbotron" *ngIf="!cHorario">
   <h1 class="display-4">Bienvenid@, {{nombre}}</h1>
   <p class="lead">En esta sección puede consultar o crear su horario para el proximo semestre.</p>
   <hr class="my-4">

   <ng-template [ngIf]="disponible" [ngIfElse]="noDisponible">
      <div class="card">
         <div class="card-body">
            <div class="alert alert-primary" role="alert">
               <p><b>{{mensajeDisponibilidad}}</b></p>
            </div>

            <button class="btn btn-primary btn-lg" (click)='crearHorario()'>Crear Horario</button>
         </div>
      </div>
   </ng-template>

   <ng-template #noDisponible>
      <div class="card">
         <div class="card-body">
            <div class="alert alert-success" role="alert">
               <p><b>{{mensajeDisponibilidad}}</b></p>
            </div>
            <button class="btn btn-primary btn-lg" (click)='verHorario()'>Ver Horario</button>
         </div>
      </div>
   </ng-template>
</div>

<!-- ?Crear Horario -->
<div class="card" *ngIf="cHorario">
   <div class="card-header">
      Crear Horario
   </div>
   <div class="card-body">
      <h5 class="card-title">Agregar Materia</h5>
      <p>Agrega las materias por Carrera y Materia</p>
      <form>
         <div class="row">
            <div class="col">
               <input type="text" class="form-control" placeholder="Carrera" #carrera required maxlength="4">
            </div>
            <div class="col">
               <input type="text" class="form-control texto" placeholder="Materia" #materia required maxlength="7">
            </div>
         </div>
         <button class="btn btn-primary" (click)="verMateriaCarreraID(carrera.value, materia.value)">Buscar</button>
      </form>
   </div>
</div>
<br>
<div div class="alert alert-danger" role="alert" *ngIf="!getMateria && error">
   <p>Verifica los datos, ingresa una Carrera o Materia valida</p>
</div>


<div class="card" *ngIf="getMateria && !agregar">
   <div class="card-header">
      {{materia[0]}}
   </div>
   <div class="card-body">
      <h5 class="card-title">{{materia[2]}}</h5>
      <button class="btn btn-primary" (click)="agregarMateria()">Agregar</button>
   </div>
   <div class="card-footer text-muted">
      Creditos: {{materia[1]}}
   </div>
</div>
<br>

<div class="jumbotron" *ngIf="getMateria && agregar">
   <h2>{{materia[0]}}</h2>
   <h4>{{materia[2]}}</h4>

   <form *ngIf="diaPosible">
      <div class="form-group">
         <label for="dia">Día {{diaNumero}}</label>
         <select class="form-control" id="dia" #dia>
            <option>Lunes</option>
            <option>Martes</option>
            <option>Miercoles</option>
            <option>Jueves</option>
            <option>Viernes</option>
            <option>Sabado</option>
         </select>
      </div>
      <div class="form-group">
         <label for="hora">Hora</label>
         <select class="form-control" id="hora" #hora>
            <option>06:00</option>
            <option>08:00</option>
            <option>10:00</option>
            <option>12:00</option>
            <option>14:00</option>
            <option>16:00</option>
            <option>18:00</option>
            <option>20:00</option>
         </select>
      </div>
      <button class="btn btn-primary" (click)="agregarDia(dia.value, hora.value)">Agregar Día</button>
   </form>

   <div class="alert alert-success" role="alert" *ngIf="diaHecho">
      <p>Día {{diaNumero - 1}} Agregado a la materia {{codigoMateria}}</p>
      <p>Día: {{dias[diaNumero - 2].dia}}</p>
      <p>Hora: {{dias[diaNumero - 2].hora}}</p>
   </div>

   <div class="alert alert-danger" role="alert" *ngIf="!diaPosible">
      No puedes agregar más días a la materia {{codigoMateria}}
   </div>

   <button class="btn btn-success" *ngIf="diaNumero > 1" (click)="aceptarMateria()">Aceptar Materia</button>

</div>

<div class="alert alert-success" role="alert" *ngIf="(materiasInscritas > 0) && !getMateria && !agregar">
   <p>Materia <b>{{codigoMateria}} - {{materiaNombre}}</b> inscrita</p>
   <p>Materias Inscritas: {{materiasInscritas}}</p>
</div>

<div>
   <button class="btn btn-success" *ngIf="(materiasInscritas > 0)" (click)="aceptarHorario()">Aceptar Horario</button> 
</div>


<!-- ?Ver horario -->

<div class="jumbotron">
   <h2>{{horario}}</h2>
</div>