<div class="card text-center">
  <div class="card-header">
    Plataforma de Gestión Academica
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-danger" (click)="verHorario()">Ver Horario</button>
    <button type="button" class="btn btn-danger" (click)="verMaterias()">Ver Materias</button>
    <button type="button" class="btn btn-danger" (click)="agregarMateria()">Agregar Materias</button>
  </div>
  <div class="card-footer text-muted">
    <b>Último ingreso:</b> {{fecha}}
  </div>
</div>